@import url('./reset.css');

@import url('./header.css');
@import url('./theme.css');

@import url('./slider.css');

@import url('./cart.css');

@import url('./footer.css');

.container {
	max-width: 1158px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
  }